/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    color: #1D3557;
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    width: 760px;
    height: 380px;
    background-image: url(images/Stuttgart.webp);
    background-size: cover;
    border-radius: 10px 10px 0 0;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#visit-heading {
    background: #1D3557;
    color: antiquewhite;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px black;
}

#culture-heading {
    background: #457B9D;
    color: antiquewhite;
    width: 400px;
    border-radius: 10px;
    padding: 5px 50px;
    margin-top: 10px;
    box-shadow: 0 0 2px black;
}

#activities {
    background: #F1FAEE;
    margin: 0 auto;
    width: 760px;
    padding: 30px 0 15px 0;
}

#stuttgart-stadion-img {
    background-image: url(images/stuttgart_stadium.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
}

#stuttgart-stadion-img:hover {
    background-image: url(images/fankurve-hover.jpg);
    height: 100px;
    width: 100px;
}

#stuttgart-park-img {
    background-image: url(images/hoehenpark.webp);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
}

#stuttgart-park-img:hover {
    background-image: url(images/hoehenpark-hover.webp);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#stuttgart-museum-img {
    background-image: url(images/Rosensteinmuseum.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
}

#stuttgart-museum-img:hover {
    background-image: url(images/rosensteinmuseum-hover.jpg);
    background-size: cover;
    width: 100px;
    height: 100px;
}

#sights {
    display: flex;
    padding: 20px 20px;
}

.sights-img {
    padding: 0 20px;
}